:root {
  --font: Arial, Helvetica, sans-serif;:root {
  --ant-primary-color: #ffffff;
}
}

body {
  margin: 0;
  padding: 0;
}

body.light {
  --A100: #b9f6ca;
  --A200: #69f0ae;
  --A400: #00e676;
  --A700: #00c853;
  --bg-color: #f8f8f8;
  --text-color: #000000;
  --input-bg: #ffffff;
  --input-border: #cccccc;
  --input-text: #000000;
  --input-placeholder: #000000;
  --select-color: #ffffff;
  --arrow-color: #000000;
  --slider-bg: #e0e0e0;
  --slider-rail: #cccccc;
  --delete-button-color: #ff2600;
  --delete-button-color-hover: #e11907;
  --card-bg: #f1f1f1;
}

body.dark {
  --A100: #a0f3bf;
  --A200: #66ffa6;
  --A400: #00e676;
  --A700: #00c853;
  --bg-color: #707070;
  --text-color: #ffffff;
  --input-bg: #4a4a4a;
  --input-border: #777777;
  --input-text: #ffffff;
  --input-placeholder: #ffffff;
  --select-color: #000000;
  --arrow-color: #ffffff;
  --slider-bg: #5a5a5a;
  --slider-rail: #777777;
  --main-bg: #919191;
  --delete-button-color: #ff0000;
  --delete-button-color-hover: #e61010;
  --card-bg: #989898;
}

.ant-select-selector, .ant-select-dropdown, .ant-select-item-option {
  background-color: var(--input-bg) !important;
  color: var(--input-text) !important;
}

.ant-select-selection-placeholder, .anticon {
  color: var(--input-placeholder) !important;
}

.ant-select-arrow {
  color: var(--arrow-color) !important;
}

.ant-select-item-option-selected {
  background-color: var(--A700) !important;
  color: var(--select-color) !important;
}

.ant-select-item-option-active {
  background-color: var(--A400) !important;
  color: var(--select-color) !important;
}

.ant-slider {
  margin: 1rem 0 !important;
}

.ant-slider-track {
  background-color: var(--A700) !important;
  height: 4px !important;
}

.ant-slider-rail {
  background-color: var(--slider-rail) !important;
  height: 4px !important;
}

.ant-slider-handle {
  border: 2px solid var(--A400) !important;
  border-radius: 50%;
  background-color: var(--A200) !important;
  width: 14px !important;
  height: 14px !important;
  margin-top: -5px !important;
}

.ant-slider-handle:after {
  box-shadow: var(--A400) !important;
}

.ant-slider-handle:hover,
.ant-slider-handle:focus {
  border-color: var(--A700) !important;
  background-color: var(--A700) !important;
  box-shadow: 0 0 0 4px rgba(0, 200, 83, 0.2) !important;
}

.ant-slider-dot-active {
  border-color: var(--A200) !important;
  background-color: var(--A200) !important;
}

.ant-slider-mark-text {
  color: var(--input-text) !important;
  font-size: 12px !important;
}

:where(.ant-btn-link) {
  color: var(--delete-button-color) !important;
  font-weight: bold !important;
}

:where(.ant-btn-link):hover {
  font-weight: bold !important;
  color: var(--delete-button-color-hover) !important;
}
