.readingBlock {
    margin: 30px 20px 30px 0;
    border-radius: 5px;
    border: 2px solid var(--bg-color);
    flex: 5;
    background-color: var(--bg-color);
    padding: 30px 40px;
    max-height: 65vh;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

.textSettings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}